body{
    background-color: #0D0D1A;
    color: white;
    font-family: inria sans, sans serif;
}

.titulo {
  color: #ff00ff;
  margin-bottom: 0px;
  margin-top: 30px;
  text-align: center;
}

.carousel-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 50px 40px;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;;
  scroll-behavior: smooth;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 5px;
}

.movie {
  position: relative;
  background-color: #1c1c2e;
  border: 2px solid #8f00ff;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  flex-shrink: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
}

.movie:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ff00ff;
  z-index: 10;
}

.movie img {
  width: 100%;
  border-radius: 8px;
}

.movie p {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 40px;
  color: #ff00ff;
  cursor: pointer;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow:hover {
  color: white;
}


